services:
  postgres:
    image: postgres:16-alpine
    container_name: metrilive-postgres
    environment:
      POSTGRES_DB: metrilivedb
      POSTGRES_USER: metrilive
      POSTGRES_PASSWORD: vipit123
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d

volumes:
  postgres_data: